.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: stretch;
}

.button {
    margin-top: 40px;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}